.cart-container{
  background-color: rgb(61, 181, 250);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.cart-area{
  margin: 10px;
  justify-self: end;
}

.circle {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
}
.circle:hover {
  background-color: rgb(39, 115, 160);
}

.total{
  margin: 10px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}

.products{
  border-left: 1px solid rgb(39, 115, 160);
  margin-left: 5px;
}
