.searchbar{
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search-input {
  border: 2px solid rgb(34, 138, 179);
  height: 50px;
}

.search-button {
  background-color: rgb(61, 181, 250);
  border: 2px solid rgb(34, 138, 179);
  color: rgb(0, 0, 0);
  height: 50px;
}


@media (min-width: 641px) {

  .searchbar {
    padding: 20px;
    width: 350px;
  }

  .search-input {
    outline: none;
    width: 100%;
  }


}

@media (min-width: 1025px) {

  .searchbar {
    width: 500px;
  }

}



