.product {
  border-top: 1px solid rgb(197, 197, 197);
  padding: 15px;
  transition: 0.6s;
}
.product:hover {
  background-color: rgb(221, 221, 221);
}


.product-box h1 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.product-box h1:hover {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

.product-box {
  display: flex;
}

.product-img-container {
  margin: 10px;
  width: 200px;
}

.price {
  justify-self: flex-end;
}

.footer-pagination {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.page-switcher{
  justify-self: center;
  align-self: center;
}

.page-options-text{
  display: none;
}

.page-options {
  justify-self: center;
}

select {
  text-decoration: none;
}

@media (min-width: 641px) {

  .footer-pagination {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, minmax(0, 1fr));;
  }
  .page-switcher {
    grid-column: 2/4;
  }

  .page-options {
    align-self: center;
    grid-column: 4/5;
  }
}
