

<div class="page-wrapper">
  <div class="header-container">
    header
  </div>

  <div class="filters-container">
    Filters
    <nav>
      <ul>
        <li>
          <a routerLink="/category/1" routerLinkActive="active-link">Books</a>
        </li>
        <li>
          <a routerLink="/category/2" routerLinkActive="active-link">Sport</a>
        </li>
        <li>
          <a routerLink="/category/3" routerLinkActive="active-link">Electronics</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="content-container">

    <router-outlet></router-outlet>
  </div>

  <div class="footer-container">
    footer
  </div>

</div>

