.page-wrapper {
  display: grid;
  background-color: rgb(221, 238, 253);
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 50px auto 1fr auto;
  grid-template-areas:
    "header"
    "filters"
    "content"
    "footer";
}

.header-row {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr;
  height: 100%;
}

.header-container {
  grid-area: header;
  background-color: white;
  margin: 0;
  width: 100%;

}

.filters-container {
  grid-area: filters;
  padding: 10px;
  background-color: white;
}

@media(min-width: 641px) {
  .page-wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px auto 1fr auto;
    grid-template-areas:
      "header header"
      "filters content"
      "footer footer";
  }
  .header-row {
    grid-template-columns: 1.5fr 2fr 1fr;
  }
  .searchbar-col{
    grid-column: 2/3;
  }

  .filters-container {
    margin: 30px;
  }
}

@media (min-width: 1025px) {

}





.content-container {
  grid-area: content;
  margin: 30px;
  margin-right: 20px;
  background-color: white;
}

.footer-container {
  grid-area: footer;
  background-color: white;
}

.active-link{
  font-weight: bold;
}



