

<div class="page-wrapper">
  <div class="header-container container-fluid">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-6">
        <app-search></app-search>
      </div>
      <div class="col-2 container-fluid">
          <app-cart-status></app-cart-status>
      </div>
    </div>
  </div>

  <div class="filters-container">
    <app-product-category-menu></app-product-category-menu>
  </div>

  <div class="content-container">

    <router-outlet></router-outlet>
  </div>

  <div class="footer-container">
    footer
  </div>

</div>

